.footer-6 {
	background-image: url(../img/footer-6-bg.png);
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	&__bottom {
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(174, 174, 174, 0.1);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}
}
