@use "../global" as *;
.hero-1 {
	padding-block-start: clamp(6.25rem, 9.5vw + 1rem, 11.25rem);
	padding-block-end: clamp(2rem, 3.25vw + 1rem, 3.75rem);
	position: relative;
	&-shapes {
		position: absolute;
		inset: 0;
		overflow: hidden;
		pointer-events: none;
		z-index: -1;
		&__img {
			position: absolute;
			z-index: -1;
			pointer-events: none;
			&--1 {
				inset-block-start: 0;
				inset-inline-start: 0;
			}
			&--2 {
				inset-block-start: 0;
				inset-inline-end: 0;
				display: none;
				@include screen(xl) {
					display: block;
				}
			}
			&--3 {
				inset-block-start: 0;
				inset-inline-start: 50%;
				transform: translateX(-50%);
			}
			&--4 {
				inset-block-start: 0;
				inset-inline-start: 50%;
				transform: translateX(-50%);
			}
			&--5 {
				display: none;
				@include screen(md) {
					display: block;
					inset-block-start: 30%;
					inset-inline-start: 2.5%;
				}
				@include screen(lg) {
					inset-block-start: 40%;
					inset-inline-start: 10%;
				}
				@include screen(xmax) {
					inset-inline-start: 17%;
				}
			}
			&--6 {
				display: none;
				@include screen(lg) {
					display: block;
					inset-block-start: 40%;
					inset-inline-end: 2.5%;
				}
				@include screen(xl) {
					inset-inline-end: 5%;
				}
				@include screen(xmax) {
					inset-inline-end: 15%;
				}
			}
		}
	}
}
