@use "../global" as *;
.hero-3 {
	position: relative;
	isolation: isolate; 
	padding-block-start: rem(160);
	background-image: url(../img/hero-3-bg.png);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	&__shape {
		display: none;
		@include screen(xl) {
			display: block;
			position: absolute;
			z-index: -1;
			pointer-events: none;
			&-1 {
				inset-block-start: 10%;
				inset-inline-start: 0;
			}
			&-2 {
				inset-block-start: 0;
				inset-inline-end: 0;
			}
		}
	}
}
