.newletter-section-2 {
    .newsletter-wrappper {
        background-image: url('../img/home-5-newsletter.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}